body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:393px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:15px;
  width:375px;
  height:667px;
  display:flex;
}
#u375 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u375_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:38px;
  width:16px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u377 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:82px;
  width:124px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
