body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:384px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1080px;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:10px;
  width:375px;
  height:1080px;
  display:flex;
}
#u340 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u340_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:34px;
  width:28px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u342 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:379px;
  width:80px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u343 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:757px;
  width:80px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u344 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:1020px;
  width:80px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
