body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:385px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:9px;
  width:375px;
  height:667px;
  display:flex;
}
#u285 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u285_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:38px;
  width:16px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u287 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:632px;
  width:186px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u288 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:83px;
  width:354px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u289 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:226px;
  width:354px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
