.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#666666;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._默认样式 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.image {
}
.placeholder {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
._形状 {
  color:#333333;
}
._一级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  color:#333333;
  text-align:left;
}
._二级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:left;
}
._三级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  color:#333333;
  text-align:left;
}
._四级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  color:#333333;
  text-align:left;
}
._五级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
}
._六级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  color:#333333;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落 {
  color:#333333;
  text-align:left;
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.table_cell {
}
.marker {
  color:#FFFFFF;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._更新记录 {
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
.flow_shape {
}
.font_awesome_5_free_solid {
  font-family:'FontAwesome5Free-Solid', 'Font Awesome 5 Free Solid', 'Font Awesome 5 Free';
  font-weight:900;
  font-style:normal;
}
._文本链接 {
  color:#0000FF;
}
._鼠标悬停文本链接时 {
}
._鼠标按下文本链接时 {
}
._流程形状 {
}
.new_style {
  font-family:'ArialMT', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#2F8CFF;
  text-align:left;
}
.basicbutton-embossed {
  font-family:'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
.box_1 {
}
._自定义_三级菜单 {
  font-family:'ArialMT', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
._自定义_一级菜单 {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3BB19C;
  text-align:left;
}
._水平线 {
  color:#333333;
}
.primary-button {
  font-family:'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:16px;
}
._垂直线 {
}
._自定义_蓝1 {
  font-size:14px;
  color:#FFFFFF;
}
._自定义_蓝2 {
  font-size:14px;
  color:#FFFFFF;
}
._自定义_蓝3 {
  font-size:14px;
  color:#FFFFFF;
}
._自定义_绿1 {
  font-size:14px;
  color:#FFFFFF;
}
._自定义_绿2 {
  font-size:14px;
  color:#FFFFFF;
}
._自定义_绿3 {
  font-size:14px;
  color:#FFFFFF;
}
._自定义_橙1 {
  font-size:14px;
  color:#FFFFFF;
}
._自定义_橙2 {
  font-size:14px;
  color:#FFFFFF;
}
._自定义_橙3 {
  font-size:14px;
  color:#FFFFFF;
}
._自定义_深蓝 {
  font-size:14px;
  color:#333E50;
}
._自定义_标题栏1 {
  font-family:'ArialMT', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#3BB19C;
  text-align:left;
}
._连接线 {
  color:#333333;
}
._形状1 {
  font-size:13px;
  color:#000000;
}
._文本段落1 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
._文本框 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
._多行文本框 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
._复选框 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
._单选按钮 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
._下拉列表框 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
._下拉列表框1 {
  color:#000000;
  text-align:left;
}
._表格 {
}
.basicbutton {
  font-family:'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
._形状2 {
}
.basicbutton-outline {
  font-family:'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#1BBC9C;
  text-align:center;
}
._水平线1 {
}
._水平线2 {
}
._文本框1 {
  color:#000000;
  text-align:left;
}
.html_button {
  text-align:center;
}
._图片 {
  color:#000000;
}
._默认样式1 {
}
.title3 {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3BB19C;
  text-align:left;
}
.basictextlabel {
  font-family:'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:13px;
  color:#1BBC9C;
  text-align:center;
}
._默认样式2 {
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
._文本段落2 {
  text-align:left;
}
._复选框1 {
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.grouped-buttons {
  font-family:'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:16px;
}
.tree_node {
  text-align:left;
}
.basicbutton1 {
  font-family:'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
.box_21 {
}
.image1 {
  color:#000000;
}
._水平线3 {
}
.icon {
}
.text_area {
  color:#000000;
  text-align:left;
}
.snapshot {
}
.sticky_1 {
  text-align:left;
}
textarea, select, input, button { outline: none; }
