body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:384px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:725px;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:9px;
  width:375px;
  height:725px;
  display:flex;
}
#u304 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u304_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:34px;
  width:16px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u306 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:82px;
  width:133px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u307 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:685px;
  width:187px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u308 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:685px;
  width:187px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u309 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:207px;
  width:348px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u310 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:348px;
  width:348px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u311 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:496px;
  width:348px;
  height:122px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
