body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:384px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:988px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:9px;
  width:375px;
  height:988px;
  display:flex;
}
#u273 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u273_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:32px;
  width:27px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
