body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  display:flex;
}
#u420 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u420_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:199px;
  width:288px;
  height:219px;
  visibility:hidden;
}
#u421_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:219px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u421_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:680px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-202px;
  width:375px;
  height:680px;
  display:flex;
}
#u422 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u422_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#BC9A7B;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:175px;
  width:283px;
  height:41px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#BC9A7B;
}
#u423 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:175px;
  width:132px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u425 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:607px;
  width:119px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
