body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1118px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1118px;
  height:50px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u5730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1118px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u5730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u5730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5731 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:6px;
  height:33px;
  display:flex;
}
#u5731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5732 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:58px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5733 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:11px;
  width:96px;
  height:28px;
  display:flex;
}
#u5733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1061px;
  height:1027px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5734 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:71px;
  width:1061px;
  height:1027px;
  display:flex;
}
#u5734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5735 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:93px;
  width:83px;
  height:20px;
  display:flex;
}
#u5735 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5735_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:83px;
}
#u5736 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:93px;
  width:149px;
  height:83px;
  display:flex;
}
#u5736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5737 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5738 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:266px;
  width:99px;
  height:20px;
  display:flex;
}
#u5738 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5738_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5739 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:266px;
  width:57px;
  height:20px;
  display:flex;
}
#u5739 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5739_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5741 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:379px;
  width:71px;
  height:20px;
  display:flex;
}
#u5741 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5741_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5742 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:379px;
  width:157px;
  height:20px;
  display:flex;
}
#u5742 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5742_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5744 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:424px;
  width:71px;
  height:20px;
  display:flex;
}
#u5744 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5744_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:336px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5745 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:424px;
  width:488px;
  height:336px;
  display:flex;
}
#u5745 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5746 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5747 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:310px;
  width:99px;
  height:20px;
  display:flex;
}
#u5747 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5747_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5748 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:310px;
  width:31px;
  height:16px;
  display:flex;
}
#u5748 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5748_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5750 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:346px;
  width:71px;
  height:20px;
  display:flex;
}
#u5750 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5750_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5751 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:346px;
  width:15px;
  height:20px;
  display:flex;
}
#u5751 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5751_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5753 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:225px;
  width:71px;
  height:20px;
  display:flex;
}
#u5753 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5753_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5754 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:225px;
  width:57px;
  height:20px;
  display:flex;
}
#u5754 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5754_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
