body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:387px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:15px;
  width:375px;
  height:667px;
  display:flex;
}
#u406 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u406_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:38px;
  width:30px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u408 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:81px;
  width:100px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u409 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:81px;
  width:100px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
