body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
}
#u8011_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(243, 243, 243, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8011_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1100px;
  height:1px;
}
#u8012_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8012_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u8013 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:188px;
  height:18px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u8013 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
}
#u8013_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u8013.selected {
}
#u8013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:right;
}
#u8014 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:10px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  text-align:right;
}
#u8014 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 15px 3px 2px;
  box-sizing:border-box;
}
#u8014_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:right;
}
#u8014.mouseOver {
}
#u8014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u8016 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:20px;
  width:15px;
  height:13px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u8016 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8016_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u8017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u8017 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:16px;
  width:15px;
  height:13px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u8017 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8017_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u8018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u8020 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:874px;
  width:1100px;
  height:100px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u8020 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(253, 253, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:28px;
}
#u8021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:824px;
  width:1100px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:28px;
}
#u8021 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 45px;
  box-sizing:border-box;
}
#u8021_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u8023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8023 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:839px;
  width:120px;
  height:25px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8023 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8025 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:837px;
  width:35px;
  height:25px;
  display:flex;
  color:#999999;
}
#u8025 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8025_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8025.mouseOver {
}
#u8025_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8025.selected {
}
#u8025_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8025.disabled {
}
#u8025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8026 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:842px;
  width:43px;
  height:20px;
  display:flex;
}
#u8026 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u8026_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8027 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:842px;
  width:43px;
  height:20px;
  display:flex;
}
#u8027 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u8027_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8028 {
  position:fixed;
  left:50%;
  margin-left:-300px;
  top:50%;
  margin-top:-181px;
  visibility:hidden;
}
#u8028_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:600px;
  height:362px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8028_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u8029 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:20px;
  width:13px;
  height:13px;
  display:flex;
}
#u8029 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8029_img.mouseOver {
}
#u8029.mouseOver {
}
#u8029_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u8030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:362px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u8030 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:362px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u8030 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:15px 20px 0px 20px;
  box-sizing:border-box;
}
#u8030_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u8031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u8031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:600px;
  height:254px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u8031 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:15px 20px 15px 20px;
  box-sizing:border-box;
}
#u8031_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u8032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u8032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u8032 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:15px 20px 0px 20px;
  box-sizing:border-box;
}
#u8032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u8033 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:60px;
  width:141px;
  height:40px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:40px;
}
#u8033 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8033_img.selected {
}
#u8033.selected {
}
#u8033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u8034 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:65px;
  width:379px;
  height:35px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u8034 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
}
#u8034_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u8035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8037 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:313px;
  width:80px;
  height:35px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8037 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8037_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8037.mouseOver {
}
#u8037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8038 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:313px;
  width:80px;
  height:35px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8038 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8038_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8038.mouseOver {
  opacity:0.8;
}
#u8038_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8038.mouseDown {
  opacity:1;
}
#u8038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u8039 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:110px;
  width:141px;
  height:40px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:40px;
}
#u8039 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8039_img.selected {
}
#u8039.selected {
}
#u8039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8040_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8040_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8040 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:209px;
  width:103px;
  height:35px;
  display:flex;
}
#u8040 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8040_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8040.disabled {
}
#u8041 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:120px;
  width:200px;
  height:78px;
}
#u8042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8042 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8043 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8043 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u8044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:24px;
  display:flex;
}
#u8044 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u8045 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:24px;
  display:flex;
}
#u8045 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u8046 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:100px;
  height:24px;
  display:flex;
}
#u8046 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u8047 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:54px;
  width:100px;
  height:24px;
  display:flex;
}
#u8047 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u8048 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:209px;
  width:89px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u8048 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
}
#u8048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8049 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:215px;
  width:33px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8049 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8049_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u8050 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:263px;
  width:33px;
  height:28px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u8050 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u8050_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u8051 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:257px;
  width:141px;
  height:40px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
  line-height:40px;
}
#u8051 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8051_img.selected {
}
#u8051.selected {
}
#u8051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:28px;
}
#u8053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1100px;
  height:50px;
  display:flex;
  text-align:left;
  line-height:28px;
}
#u8053 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 20px;
  box-sizing:border-box;
}
#u8053_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8054 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:80px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8054 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8054_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8054.mouseOver {
}
#u8054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:1100px;
  height:477px;
}
#u8055_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:477px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8055_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:309px;
}
#u8057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:42px;
}
#u8057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:42px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u8057 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:42px;
}
#u8058 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:0px;
  width:218px;
  height:42px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u8058 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:42px;
}
#u8059 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:0px;
  width:240px;
  height:42px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u8059 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:42px;
}
#u8060 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:0px;
  width:218px;
  height:42px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u8060 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:42px;
}
#u8061 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:0px;
  width:213px;
  height:42px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u8061 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:89px;
}
#u8062 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:211px;
  height:89px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8062 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:89px;
}
#u8063 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:42px;
  width:218px;
  height:89px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8063 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:89px;
}
#u8064 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:42px;
  width:240px;
  height:89px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8064 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:89px;
}
#u8065 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:42px;
  width:218px;
  height:89px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1ABC9C;
  line-height:28px;
}
#u8065 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:89px;
}
#u8066 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:42px;
  width:213px;
  height:89px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  line-height:28px;
}
#u8066 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
}
#u8066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:89px;
}
#u8067 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:131px;
  width:211px;
  height:89px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8067 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:89px;
}
#u8068 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:131px;
  width:218px;
  height:89px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8068 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:89px;
}
#u8069 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:131px;
  width:240px;
  height:89px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8069 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:89px;
}
#u8070 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:131px;
  width:218px;
  height:89px;
  display:flex;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1ABC9C;
  line-height:28px;
}
#u8070 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:89px;
}
#u8071 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:131px;
  width:213px;
  height:89px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  line-height:28px;
}
#u8071 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
}
#u8071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:89px;
}
#u8072 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:211px;
  height:89px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8072 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:89px;
}
#u8073 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:220px;
  width:218px;
  height:89px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8073 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:89px;
}
#u8074 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:220px;
  width:240px;
  height:89px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8074 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:89px;
}
#u8075 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:220px;
  width:218px;
  height:89px;
  display:flex;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1ABC9C;
  line-height:28px;
}
#u8075 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:89px;
}
#u8076 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:220px;
  width:213px;
  height:89px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  line-height:28px;
}
#u8076 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
}
#u8076_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
