.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#BCBCBC;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._默认样式 {
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
._输入框_默认 {
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
._输入框_醒目 {
  color:#000000;
  text-align:left;
}
.box_2 {
}
.ellipse {
}
.line {
}
.line1 {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._表格 {
}
._文本链接 {
  color:#0000FF;
}
._鼠标悬停文本链接时 {
}
._鼠标按下文本链接时 {
}
._形状 {
  color:#333333;
}
._图片 {
}
.placeholder {
}
.button {
}
._一级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  color:#333333;
  text-align:left;
}
._二级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:left;
}
._三级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  color:#333333;
  text-align:left;
}
._四级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  color:#333333;
  text-align:left;
}
._五级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
}
._六级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  color:#333333;
  text-align:left;
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
  color:#333333;
}
.radio_button {
  text-align:left;
}
.tree_node {
  text-align:left;
}
.table_cell {
}
.menu_item {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.icon {
}
.box_3 {
}
._文本框 {
  color:#000000;
  text-align:left;
}
._更新记录 {
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.droplist {
  color:#000000;
  text-align:left;
}
.box_1 {
}
.image {
}
.box_11 {
}
.label1 {
  font-size:14px;
  text-align:left;
}
.box_12 {
}
.line2 {
}
.box_21 {
}
.paragraph {
  text-align:left;
}
.shape {
}
.image1 {
  color:#000000;
}
textarea, select, input, button { outline: none; }
