body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:385px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:710px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:375px;
  height:710px;
  display:flex;
}
#u141 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u141_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:38px;
  width:16px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u143 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:318px;
  width:87px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u144 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:453px;
  width:87px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u145 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:588px;
  width:87px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u146 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:251px;
  width:261px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u147 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:386px;
  width:261px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u148 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:521px;
  width:261px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u149 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:77px;
  width:375px;
  height:123px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:718px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:47px;
  width:375px;
  height:718px;
  display:flex;
}
#u151 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u151_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:275px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:490px;
  width:375px;
  height:275px;
  display:flex;
}
#u152 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u152_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:490px;
  width:24px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u154 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:721px;
  width:375px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
