body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:385px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:375px;
  height:667px;
  display:flex;
}
#u102 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u102_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:38px;
  width:16px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u104 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:81px;
  width:31px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u105 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:171px;
  width:74px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u106 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:171px;
  width:74px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u107 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:171px;
  width:100px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u108 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:171px;
  width:50px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u109 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:210px;
  width:100px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u110 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:416px;
  width:74px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u111 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:416px;
  width:74px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u112 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:416px;
  width:100px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u113 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:416px;
  width:50px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u114 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:455px;
  width:116px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u115 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:529px;
  width:74px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u116 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:631px;
  width:74px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u117 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:300px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u118 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:300px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u119 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:300px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
