body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:385px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:375px;
  height:667px;
  display:flex;
}
#u372 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u372_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:38px;
  width:28px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u374 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:628px;
  width:375px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
