body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:517px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:375px;
  height:667px;
  display:flex;
}
#u193 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u193_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:38px;
  width:16px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u195 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:81px;
  width:140px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u196 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:81px;
  width:67px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u197 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:245px;
  width:85px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u198 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:535px;
  width:85px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u199 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:390px;
  width:85px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:236px;
  width:99px;
  height:20px;
  display:flex;
  color:#FF0000;
}
#u200 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u200_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:167px;
  width:271px;
  height:109px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u202 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:457px;
  width:271px;
  height:109px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u203 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:606px;
  width:271px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u204 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:320px;
  width:271px;
  height:109px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u205 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:114px;
  width:67px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u206 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:159px;
  width:67px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:375px;
  height:667px;
  display:flex;
}
#u208 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u208_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:36px;
  width:16px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u210 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:80px;
  width:140px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u211 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:80px;
  width:67px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u212 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:356px;
  width:66px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u213 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:356px;
  width:66px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u214 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:594px;
  width:66px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u215 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:594px;
  width:66px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u216 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:168px;
  width:157px;
  height:162px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u217 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:195px;
  width:143px;
  height:135px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u218 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:408px;
  width:157px;
  height:162px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u219 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:408px;
  width:157px;
  height:162px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u220 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:117px;
  width:67px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u221 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:158px;
  width:67px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:718px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:375px;
  height:718px;
  display:flex;
}
#u223 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u223_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:275px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:453px;
  width:375px;
  height:275px;
  display:flex;
}
#u224 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u224_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:453px;
  width:24px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u226 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:684px;
  width:375px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:76px;
  width:375px;
  height:36px;
  display:flex;
}
#u227 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u227_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
