body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:391px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:12px;
  width:375px;
  height:667px;
  display:flex;
}
#u280 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u280_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:360px;
  width:284px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
