body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:384px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:680px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:10px;
  width:375px;
  height:680px;
  display:flex;
}
#u243 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u243_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:38px;
  width:16px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u245 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:85px;
  width:321px;
  height:87px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u246 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:635px;
  width:117px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u247 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:424px;
  width:135px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u248 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:505px;
  width:153px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u249 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:464px;
  width:135px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
