body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:383px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:9px;
  width:375px;
  height:667px;
  display:flex;
}
#u367 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u367_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:32px;
  width:27px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u369 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:631px;
  width:180px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u370 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:632px;
  width:185px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
