body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:30px;
  background:inherit;
  background-color:rgba(246, 247, 249, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:99px;
  width:988px;
  height:350px;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u77 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:35px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:0px;
  width:832px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u78 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:156px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u79 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:35px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:35px;
  width:832px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u80 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u80_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:156px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:35px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:70px;
  width:832px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u82 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:156px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u83 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:35px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:105px;
  width:832px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u84 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:156px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u85 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:35px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:140px;
  width:832px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u86 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:156px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u87 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:35px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:175px;
  width:832px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:156px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:35px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:210px;
  width:832px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:156px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:35px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:245px;
  width:832px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:156px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u93 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:35px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:280px;
  width:832px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u94 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:315px;
  width:156px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u95 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:35px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:315px;
  width:832px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u96 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:44px;
  width:988px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u97 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:833px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u98 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u98_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:833px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u99 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u99_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:833px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:81px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:636px;
  width:137px;
  height:81px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u101 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:863px;
  width:0px;
  height:0px;
  font-size:13px;
}
#u102_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:104px;
  height:10px;
}
#u102_seg1 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:-10px;
  width:20px;
  height:20px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:863px;
  width:0px;
  height:0px;
  font-size:13px;
}
#u103_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:117px;
  height:10px;
}
#u103_seg1 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-10px;
  width:20px;
  height:20px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:717px;
  width:0px;
  height:0px;
  font-size:13px;
}
#u104_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:108px;
}
#u104_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:98px;
  width:11px;
  height:10px;
}
#u104_seg2 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:98px;
  width:10px;
  height:18px;
}
#u104_seg3 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:104px;
  width:20px;
  height:20px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:50px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:945px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:863px;
  width:0px;
  height:0px;
  font-size:13px;
}
#u106_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:74px;
  height:10px;
}
#u106_seg1 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-5px;
  width:10px;
  height:122px;
}
#u106_seg2 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:107px;
  width:48px;
  height:10px;
}
#u106_seg3 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:102px;
  width:20px;
  height:20px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:19px;
  top:35px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:833px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:863px;
  width:0px;
  height:0px;
  font-size:13px;
}
#u108_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:107px;
  height:10px;
}
#u108_seg1 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:-10px;
  width:20px;
  height:20px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:975px;
  width:0px;
  height:0px;
  font-size:13px;
}
#u109_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:65px;
  height:10px;
}
#u109_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-117px;
  width:10px;
  height:122px;
}
#u109_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-117px;
  width:47px;
  height:10px;
}
#u109_seg3 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:-122px;
  width:20px;
  height:20px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-55px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
