body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:388px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:13px;
  width:375px;
  height:667px;
  display:flex;
}
#u322 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u322_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:33px;
  width:22px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u324 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:627px;
  width:118px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
