body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
}
#u11800_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(243, 243, 243, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11800_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1100px;
  height:1px;
}
#u11801_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11801_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u11802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:188px;
  height:18px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u11802 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
}
#u11802_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u11802.selected {
}
#u11802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u11803 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:119px;
  width:1100px;
  height:60px;
  display:flex;
  text-align:left;
}
#u11803 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 20px;
  box-sizing:border-box;
}
#u11803_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u11804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:28px;
}
#u11804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1100px;
  height:50px;
  display:flex;
  text-align:left;
  line-height:28px;
}
#u11804 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 20px;
  box-sizing:border-box;
}
#u11804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u11805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u11805 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 10px 3px 2px;
  box-sizing:border-box;
}
#u11805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:28px;
}
#u11806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:199px;
  width:1100px;
  height:50px;
  display:flex;
  text-align:left;
  line-height:28px;
}
#u11806 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 20px;
  box-sizing:border-box;
}
#u11806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:248px;
  width:1100px;
  height:295px;
}
#u11808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:45px;
}
#u11808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:45px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u11808 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:45px;
}
#u11809 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:0px;
  width:151px;
  height:45px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u11809 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u11810 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:0px;
  width:125px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u11810 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:45px;
}
#u11811 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:0px;
  width:151px;
  height:45px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u11811 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:45px;
}
#u11812 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:235px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u11812 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:45px;
}
#u11813 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:0px;
  width:145px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u11813 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
}
#u11814 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:0px;
  width:220px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u11814 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:50px;
}
#u11815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:73px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  line-height:28px;
}
#u11815 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
}
#u11815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u11816 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:45px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
  line-height:28px;
}
#u11816 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
}
#u11816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:50px;
}
#u11818 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:45px;
  width:125px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F04844;
  line-height:28px;
}
#u11818 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
}
#u11818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u11819 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:45px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u11819 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:50px;
}
#u11820 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:45px;
  width:235px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u11820 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
}
#u11821 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:45px;
  width:145px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u11821 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u11822 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:45px;
  width:220px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u11822 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:50px;
}
#u11824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:73px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  line-height:28px;
}
#u11824 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
}
#u11824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u11825 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:95px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
  line-height:28px;
}
#u11825 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
}
#u11825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:50px;
}
#u11827 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:95px;
  width:125px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F04844;
  line-height:28px;
}
#u11827 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
}
#u11827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u11828 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:95px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u11828 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:50px;
}
#u11829 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:95px;
  width:235px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u11829 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
}
#u11830 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:95px;
  width:145px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u11830 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u11831 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:95px;
  width:220px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u11831 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:50px;
}
#u11833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:145px;
  width:73px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  line-height:28px;
}
#u11833 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
}
#u11833_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u11834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u11834 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:145px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
  line-height:28px;
}
#u11834 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
}
#u11834_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u11835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:50px;
}
#u11835 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:145px;
  width:125px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F04844;
  line-height:28px;
}
#u11835 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
}
#u11835_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u11836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u11836 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:145px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u11836 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11836_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u11837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:50px;
}
#u11837 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:145px;
  width:235px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u11837 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11837_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u11838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
}
#u11838 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:145px;
  width:145px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u11838 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11838_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u11839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u11839 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:145px;
  width:220px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u11839 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11839_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u11840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:50px;
}
#u11840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:195px;
  width:73px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  line-height:28px;
}
#u11840 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
}
#u11840_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u11841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u11841 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:195px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
  line-height:28px;
}
#u11841 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
}
#u11841_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u11842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:50px;
}
#u11842 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:195px;
  width:125px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F04844;
  line-height:28px;
}
#u11842 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
}
#u11842_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u11843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u11843 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:195px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u11843 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11843_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u11844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:50px;
}
#u11844 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:195px;
  width:235px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u11844 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11844_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u11845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
}
#u11845 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:195px;
  width:145px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u11845 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11845_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u11846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u11846 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:195px;
  width:220px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u11846 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11846_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u11847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:50px;
}
#u11847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:73px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  line-height:28px;
}
#u11847 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
}
#u11847_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u11848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u11848 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:245px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
  line-height:28px;
}
#u11848 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
}
#u11848_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u11849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:50px;
}
#u11849 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:245px;
  width:125px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F04844;
  line-height:28px;
}
#u11849 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
}
#u11849_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u11850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u11850 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:245px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u11850 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11850_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u11851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:50px;
}
#u11851 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:245px;
  width:235px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u11851 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11851_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u11852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
}
#u11852 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:245px;
  width:145px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u11852 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11852_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u11853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u11853 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:245px;
  width:220px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u11853 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11853_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u11854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u11854 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:120px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u11854 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 10px 3px 2px;
  box-sizing:border-box;
}
#u11854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(253, 253, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:28px;
}
#u11855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:652px;
  width:1100px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:28px;
}
#u11855 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 45px;
  box-sizing:border-box;
}
#u11855_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u11857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u11857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:702px;
  width:1100px;
  height:100px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u11857 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11859 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:667px;
  width:120px;
  height:25px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11859 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u11861 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:665px;
  width:35px;
  height:25px;
  display:flex;
  color:#999999;
}
#u11861 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11861_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u11861.mouseOver {
}
#u11861_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u11861.selected {
}
#u11861_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u11861.disabled {
}
#u11861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11862 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:670px;
  width:43px;
  height:20px;
  display:flex;
}
#u11862 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u11862_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11863 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:670px;
  width:43px;
  height:20px;
  display:flex;
}
#u11863 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u11863_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u11864 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:133px;
  width:180px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u11864 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
}
#u11864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u11866 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:131px;
  width:180px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u11866 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
}
#u11866_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u11866.selected {
}
#u11866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u11868 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:10px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u11868 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 15px 3px 2px;
  box-sizing:border-box;
}
#u11868_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u11868.mouseOver {
}
#u11868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u11870 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:20px;
  width:15px;
  height:13px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u11870 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11870_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u11871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u11871 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:16px;
  width:15px;
  height:13px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u11871 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u11871_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
