body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:389px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:12px;
  width:375px;
  height:667px;
  display:flex;
}
#u399 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u399_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:38px;
  width:16px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u401 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:82px;
  width:124px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u402 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:172px;
  width:57px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u403 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:286px;
  width:57px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u404 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:403px;
  width:57px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u405 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:517px;
  width:57px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
