body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:387px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:710px;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:375px;
  height:710px;
  display:flex;
}
#u345 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u345_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:36px;
  width:28px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u347 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:81px;
  width:360px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u348 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:667px;
  width:375px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
