body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:388px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:9px;
  width:375px;
  height:667px;
  display:flex;
}
#u270 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u270_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:501px;
  width:29px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u272 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:525px;
  width:375px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u273 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:579px;
  width:375px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u274 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:632px;
  width:375px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
