body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1979px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:10px;
  width:375px;
  height:1979px;
  display:flex;
}
#u250 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u250_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:274px;
  width:365px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u252 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:551px;
  width:365px;
  height:115px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u253 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:853px;
  width:365px;
  height:115px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u254 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:1153px;
  width:365px;
  height:115px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u255 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:1449px;
  width:365px;
  height:115px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u256 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:1317px;
  width:78px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u257 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:1317px;
  width:78px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u258 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:1614px;
  width:78px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u259 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:1017px;
  width:78px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u260 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:1017px;
  width:78px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u261 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:30px;
  width:25px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u262 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:716px;
  width:78px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u263 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:1912px;
  width:78px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:716px;
  width:78px;
  height:39px;
  display:flex;
}
#u264 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u264_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:1017px;
  width:78px;
  height:36px;
  display:flex;
}
#u265 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u265_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:1912px;
  width:78px;
  height:36px;
  display:flex;
}
#u266 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u266_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
