body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:8px;
  width:375px;
  height:667px;
  display:flex;
}
#u325 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u325_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:76px;
  width:140px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u327 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:621px;
  width:117px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u328 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:33px;
  width:22px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u329 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:214px;
  width:75px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u330 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:343px;
  width:75px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u331 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:472px;
  width:75px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u332 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:120px;
  width:31px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
