body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
}
#u8029_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(243, 243, 243, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8029_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8030 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1100px;
  height:1px;
}
#u8030_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8030_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u8031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:188px;
  height:18px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u8031 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
}
#u8031_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u8031.selected {
}
#u8031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:right;
}
#u8032 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:10px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  text-align:right;
}
#u8032 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 15px 3px 2px;
  box-sizing:border-box;
}
#u8032_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:right;
}
#u8032.mouseOver {
}
#u8032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u8034 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:20px;
  width:15px;
  height:13px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u8034 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8034_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u8035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u8035 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:16px;
  width:15px;
  height:13px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u8035 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8035_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u8036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u8038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:874px;
  width:1100px;
  height:100px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u8038 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(253, 253, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:28px;
}
#u8039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:824px;
  width:1100px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:28px;
}
#u8039 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 45px;
  box-sizing:border-box;
}
#u8039_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u8041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8041 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:839px;
  width:120px;
  height:25px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8041 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8043 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:837px;
  width:35px;
  height:25px;
  display:flex;
  color:#999999;
}
#u8043 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8043_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8043.mouseOver {
}
#u8043_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8043.selected {
}
#u8043_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8043.disabled {
}
#u8043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8044 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:842px;
  width:43px;
  height:20px;
  display:flex;
}
#u8044 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u8044_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8045 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:842px;
  width:43px;
  height:20px;
  display:flex;
}
#u8045 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u8045_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8046 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:1100px;
  height:477px;
}
#u8046_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:477px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8046_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8047 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:159px;
}
#u8048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
}
#u8048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u8048 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:42px;
}
#u8049 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:0px;
  width:122px;
  height:42px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u8049 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:42px;
}
#u8050 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:135px;
  height:42px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u8050 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:42px;
}
#u8051 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:0px;
  width:138px;
  height:42px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u8051 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:42px;
}
#u8052 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:0px;
  width:122px;
  height:42px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u8052 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:42px;
}
#u8053 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:0px;
  width:122px;
  height:42px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u8053 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8053_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:42px;
}
#u8054 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:0px;
  width:122px;
  height:42px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u8054 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u8055 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:0px;
  width:100px;
  height:42px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u8055 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:42px;
}
#u8056 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:0px;
  width:121px;
  height:42px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u8056 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8056_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:39px;
}
#u8057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:118px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8057 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:39px;
}
#u8058 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:42px;
  width:122px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8058 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:39px;
}
#u8059 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:42px;
  width:135px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8059 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:39px;
}
#u8060 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:42px;
  width:138px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8060 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:39px;
}
#u8061 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:42px;
  width:122px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8061 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:39px;
}
#u8062 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:42px;
  width:122px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8062 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:39px;
}
#u8063 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:42px;
  width:122px;
  height:39px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1ABC9C;
  line-height:28px;
}
#u8063 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
}
#u8064 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:42px;
  width:100px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8064 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:39px;
}
#u8065 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:42px;
  width:121px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8065 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
}
#u8065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:39px;
}
#u8069 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:118px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8069 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:39px;
}
#u8070 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:81px;
  width:122px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8070 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:39px;
}
#u8071 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:81px;
  width:135px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8071 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:39px;
}
#u8072 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:81px;
  width:138px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8072 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:39px;
}
#u8073 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:81px;
  width:122px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8073 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:39px;
}
#u8074 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:81px;
  width:122px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8074 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:39px;
}
#u8075 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:81px;
  width:122px;
  height:39px;
  display:flex;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1ABC9C;
  line-height:28px;
}
#u8075 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
}
#u8076 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:81px;
  width:100px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8076 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8076_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:39px;
}
#u8077 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:81px;
  width:121px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8077 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
}
#u8077_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:39px;
}
#u8080 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:118px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8080 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8080_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:39px;
}
#u8081 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:120px;
  width:122px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8081 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8081_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:39px;
}
#u8082 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:120px;
  width:135px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8082 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8082_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:39px;
}
#u8083 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:120px;
  width:138px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8083 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:39px;
}
#u8084 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:120px;
  width:122px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8084 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8084_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:39px;
}
#u8085 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:120px;
  width:122px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8085 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8085_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:39px;
}
#u8086 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:120px;
  width:122px;
  height:39px;
  display:flex;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1ABC9C;
  line-height:28px;
}
#u8086 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8086_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
}
#u8087 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:120px;
  width:100px;
  height:39px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8087 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:39px;
}
#u8088 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:120px;
  width:121px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u8088 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
}
#u8088_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8091 {
  position:fixed;
  left:50%;
  margin-left:-300px;
  top:50%;
  margin-top:-205px;
  visibility:hidden;
}
#u8091_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:600px;
  height:410px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8091_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u8092 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:20px;
  width:13px;
  height:13px;
  display:flex;
}
#u8092 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8092_img.mouseOver {
}
#u8092.mouseOver {
}
#u8092_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u8093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:410px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u8093 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:410px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u8093 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:15px 20px 0px 20px;
  box-sizing:border-box;
}
#u8093_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u8094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:291px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u8094 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:600px;
  height:291px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u8094 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:15px 20px 15px 20px;
  box-sizing:border-box;
}
#u8094_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u8095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u8095 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u8095 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:15px 20px 0px 20px;
  box-sizing:border-box;
}
#u8095_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u8096 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:60px;
  width:141px;
  height:40px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:40px;
}
#u8096 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8096_img.selected {
}
#u8096.selected {
}
#u8096_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u8097 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:65px;
  width:379px;
  height:35px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u8097 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
}
#u8097_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u8098 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8099 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8100 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:354px;
  width:80px;
  height:35px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8100 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8100_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8100.mouseOver {
}
#u8100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8101 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:354px;
  width:80px;
  height:35px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8101 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8101_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8101.mouseOver {
  opacity:0.8;
}
#u8101_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8101.mouseDown {
  opacity:1;
}
#u8101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u8102 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:110px;
  width:141px;
  height:40px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:40px;
}
#u8102 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8102_img.selected {
}
#u8102.selected {
}
#u8102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u8103 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:115px;
  width:379px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u8103 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
}
#u8103_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u8104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u8104 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:157px;
  width:141px;
  height:40px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:40px;
}
#u8104 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8104_img.selected {
}
#u8104.selected {
}
#u8104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8105_input {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:35px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8105_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:35px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8105 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:162px;
  width:379px;
  height:35px;
  display:flex;
}
#u8105 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8105_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8105.disabled {
}
#u8106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u8106 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:205px;
  width:141px;
  height:40px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:40px;
}
#u8106 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8106_img.selected {
}
#u8106.selected {
}
#u8106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u8107 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:210px;
  width:379px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u8107 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
}
#u8107_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u8108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u8108 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:253px;
  width:141px;
  height:40px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:40px;
}
#u8108 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8108_img.selected {
}
#u8108.selected {
}
#u8108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u8109 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:258px;
  width:379px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u8109 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
}
#u8109_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u8110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u8110 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:293px;
  width:141px;
  height:40px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1ABC9C;
  text-align:left;
  line-height:28px;
}
#u8110 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8110_img.selected {
}
#u8110.selected {
}
#u8110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u8111 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:293px;
  width:141px;
  height:40px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:40px;
}
#u8111 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8111_img.selected {
}
#u8111.selected {
}
#u8111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:28px;
}
#u8113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1100px;
  height:50px;
  display:flex;
  text-align:left;
  line-height:28px;
}
#u8113 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 20px;
  box-sizing:border-box;
}
#u8113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8114 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:80px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8114 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
}
#u8114_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8114.mouseOver {
}
#u8114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
