body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u20829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
}
#u20829_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(243, 243, 243, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20829_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1100px;
  height:1px;
}
#u20830_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20830_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u20831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:188px;
  height:18px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u20831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20831_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u20831.selected {
}
#u20831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u20832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:119px;
  width:1100px;
  height:60px;
  display:flex;
  text-align:left;
}
#u20832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 20px;
  box-sizing:border-box;
  width:100%;
}
#u20832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:28px;
}
#u20833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1100px;
  height:50px;
  display:flex;
  text-align:left;
  line-height:28px;
}
#u20833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 20px;
  box-sizing:border-box;
  width:100%;
}
#u20833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u20834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u20834 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:28px;
}
#u20835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:199px;
  width:1100px;
  height:50px;
  display:flex;
  text-align:left;
  line-height:28px;
}
#u20835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 20px;
  box-sizing:border-box;
  width:100%;
}
#u20835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:248px;
  width:1100px;
  height:295px;
}
#u20837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:45px;
}
#u20837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:45px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u20837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:45px;
}
#u20838 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:0px;
  width:151px;
  height:45px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u20838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u20839 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:0px;
  width:125px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u20839 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:45px;
}
#u20840 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:0px;
  width:151px;
  height:45px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u20840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:45px;
}
#u20841 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:235px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u20841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:45px;
}
#u20842 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:0px;
  width:145px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u20842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
}
#u20843 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:0px;
  width:220px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u20843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:50px;
}
#u20844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:73px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  line-height:28px;
}
#u20844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20845 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:45px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
  line-height:28px;
}
#u20845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:50px;
}
#u20847 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:45px;
  width:125px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F04844;
  line-height:28px;
}
#u20847 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20848 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:45px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u20848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:50px;
}
#u20849 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:45px;
  width:235px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u20849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
}
#u20850 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:45px;
  width:145px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u20850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u20851 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:45px;
  width:220px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u20851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:50px;
}
#u20853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:73px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  line-height:28px;
}
#u20853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20854 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:95px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
  line-height:28px;
}
#u20854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:50px;
}
#u20856 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:95px;
  width:125px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F04844;
  line-height:28px;
}
#u20856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20857 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:95px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u20857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:50px;
}
#u20858 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:95px;
  width:235px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u20858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
}
#u20859 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:95px;
  width:145px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u20859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u20860 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:95px;
  width:220px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u20860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:50px;
}
#u20862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:145px;
  width:73px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  line-height:28px;
}
#u20862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20863 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:145px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
  line-height:28px;
}
#u20863 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:50px;
}
#u20864 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:145px;
  width:125px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F04844;
  line-height:28px;
}
#u20864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20865 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:145px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u20865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:50px;
}
#u20866 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:145px;
  width:235px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u20866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
}
#u20867 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:145px;
  width:145px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u20867 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u20868 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:145px;
  width:220px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u20868 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:50px;
}
#u20869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:195px;
  width:73px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  line-height:28px;
}
#u20869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20870 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:195px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
  line-height:28px;
}
#u20870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:50px;
}
#u20871 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:195px;
  width:125px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F04844;
  line-height:28px;
}
#u20871 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20872 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:195px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u20872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:50px;
}
#u20873 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:195px;
  width:235px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u20873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
}
#u20874 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:195px;
  width:145px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u20874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u20875 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:195px;
  width:220px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u20875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:50px;
}
#u20876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:73px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  line-height:28px;
}
#u20876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20877 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:245px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
  line-height:28px;
}
#u20877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:50px;
}
#u20878 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:245px;
  width:125px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F04844;
  line-height:28px;
}
#u20878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20879 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:245px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u20879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:50px;
}
#u20880 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:245px;
  width:235px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u20880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
}
#u20881 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:245px;
  width:145px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u20881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u20882 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:245px;
  width:220px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u20882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u20883 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:120px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u20883 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(253, 253, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:28px;
}
#u20884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:652px;
  width:1100px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:28px;
}
#u20884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 45px;
  box-sizing:border-box;
  width:100%;
}
#u20884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u20886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:702px;
  width:1100px;
  height:100px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u20886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u20888 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:667px;
  width:120px;
  height:25px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u20888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20890 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:665px;
  width:35px;
  height:25px;
  display:flex;
  color:#999999;
}
#u20890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20890_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20890.mouseOver {
}
#u20890_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20890.selected {
}
#u20890_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20890.disabled {
}
#u20890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20891 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:670px;
  width:43px;
  height:20px;
  display:flex;
}
#u20891 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20891_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20892 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:670px;
  width:43px;
  height:20px;
  display:flex;
}
#u20892 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20892_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u20893 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:133px;
  width:180px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u20893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u20895 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:131px;
  width:180px;
  height:35px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u20895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20895_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u20895.selected {
}
#u20895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u20897 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:10px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u20897 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20897_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u20897.mouseOver {
}
#u20897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u20899 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:20px;
  width:15px;
  height:13px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u20899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u20900 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:16px;
  width:15px;
  height:13px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u20900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
