body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u20619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
}
#u20621_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(243, 243, 243, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20621_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1100px;
  height:1px;
}
#u20622_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20622_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u20623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:188px;
  height:18px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u20623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20623_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u20623.selected {
}
#u20623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u20625 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:10px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u20625 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20625_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u20625.mouseOver {
}
#u20625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u20626 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:17px;
  width:10px;
  height:16px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u20626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:119px;
  width:1100px;
  height:125px;
}
#u20628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:45px;
}
#u20628 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u20628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:45px;
}
#u20629 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:0px;
  width:281px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u20629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:45px;
}
#u20630 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:0px;
  width:178px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u20630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:45px;
}
#u20631 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:0px;
  width:170px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u20631 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:45px;
}
#u20632 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:0px;
  width:148px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u20632 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:45px;
}
#u20633 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:0px;
  width:175px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u20633 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:80px;
}
#u20634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:148px;
  height:80px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:62px;
  color:#CCCCCC;
  line-height:28px;
}
#u20634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:80px;
}
#u20635 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:45px;
  width:281px;
  height:80px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u20635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:80px;
}
#u20636 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:45px;
  width:178px;
  height:80px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u20636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:80px;
}
#u20637 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:45px;
  width:170px;
  height:80px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u20637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:80px;
}
#u20638 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:45px;
  width:148px;
  height:80px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u20638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:80px;
}
#u20639 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:45px;
  width:175px;
  height:80px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u20639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u20640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1100px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u20640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 20px;
  box-sizing:border-box;
  width:100%;
}
#u20640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u20641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:322px;
  width:1100px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u20641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 20px;
  box-sizing:border-box;
  width:100%;
}
#u20641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:60px;
  background:inherit;
  background-color:rgba(249, 250, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
  line-height:40px;
}
#u20642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:243px;
  width:1100px;
  height:60px;
  display:flex;
  font-size:16px;
  text-align:right;
  line-height:40px;
}
#u20642 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20642_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
  line-height:40px;
}
#u20642.selected {
}
#u20642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1269px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u20644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:371px;
  width:1100px;
  height:1269px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u20644 .text {
  position:absolute;
  align-self:center;
  padding:0px 30px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u20644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20645 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:392px;
  width:1043px;
  height:530px;
}
#u20646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u20646 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u20647 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:0px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u20647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u20648 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u20649 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:50px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u20649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u20650 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u20651 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:100px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u20651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u20653 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u20654 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:150px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u20654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u20655 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u20656 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:200px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u20656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u20657 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u20658 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:250px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u20658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u20659 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u20660 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:300px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u20660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u20661 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u20662 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:350px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u20662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u20663 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u20664 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:400px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u20664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:80px;
}
#u20665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:450px;
  width:151px;
  height:80px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u20665 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:80px;
}
#u20666 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:450px;
  width:892px;
  height:80px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:62px;
  color:#CCCCCC;
  text-align:left;
  line-height:28px;
}
#u20666 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u20668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1640px;
  width:1100px;
  height:100px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u20668 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20669 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:942px;
  width:1043px;
  height:300px;
}
#u20670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u20670 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u20671 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:0px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u20671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u20672 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u20673 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:50px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u20673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u20674 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u20675 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:100px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u20675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u20676 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u20677 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:150px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u20677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u20678 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u20679 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:200px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u20679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u20680 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u20681 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:250px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u20681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u20682 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1537px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u20682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20682_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u20682.mouseOver {
  opacity:0.8;
}
#u20682_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u20682.mouseDown {
  opacity:1;
}
#u20682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20683 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1262px;
  width:1043px;
  height:150px;
}
#u20684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u20684 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u20685 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:0px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u20685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u20686 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u20687 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:50px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u20687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u20688 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u20689 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:100px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u20689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20690 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1432px;
  width:1043px;
  height:50px;
}
#u20691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u20691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u20691 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u20692 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:0px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u20692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u20693 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:1440px;
  width:403px;
  height:35px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u20693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
